@import '../../style/wcs.elevation.scss';
@import '../../style/wcs.fonts.scss';
// TODO: get rid of this.
@import '@material/ripple/mdc-ripple';

:host {
    display: inline-block;
    --wcs-button-padding: calc(var(--wcs-padding) / 2) var(--wcs-padding);
    --wcs-button-color: var(--wcs-contrast, var(--wcs-white, white));
    --wcs-button-background-color: var(--wcs-base, var(--wcs-primary, #0088CE));
    --wcs-button-ripple-color: var(--wcs-contrast, var(--wcs-white, white));
}

:host([clear]),
:host([stroked]) {
    --wcs-button-color: var(--wcs-base);
    --wcs-button-background-color: transparent;

    .wcs-inner-button {
        box-shadow: none;

        &::before,
        &::after {
            --wcs-button-ripple-color: var(--wcs-base);
        }
    }
}

:host([stroked]) {
    .wcs-inner-button {
        border-width: 1px;
        border-style: solid;
        border-color: var(--wcs-base);
    }
}

:host([disabled]) {
    --wcs-button-color: var(--wcs-text-disabled);
    --wcs-button-background-color: var(--wcs-light);

    .wcs-inner-button {
        border-color: var(--wcs-light);
        opacity: 1;
        cursor: default;
        pointer-events: none;
    }

    &:host([clear]),
    &:host([disabled]) {
        --wcs-button-background-color: transparent;
    }
}

.wcs-inner-button {
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states-hover-opacity(.1);
    @include mdc-states-focus-opacity(.2);
    @include mdc-states-press-opacity(.3);
    @include mdc-states-base-color(white);

    // This property is used to set the ripple color
    &::before,
    &::after {
        background-color: var(--wcs-button-ripple-color);
    }

    font-family: var(--wcs-font-sans-serif);
    background-color: var(--wcs-button-background-color);
    color: var(--wcs-button-color);
    padding: var(--wcs-button-padding);
    border-radius: var(--wcs-border-radius);
    overflow: hidden;
    outline: 0;
    text-transform: none;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: none;
    font-size: 1rem;
    line-height: 1.5;

    transition: color 175ms ease-in-out,
    background-color 175ms ease-in-out,
    wcs-elevation-transition();

    &:focus {
        @include wcs-elevation(1);
    }

    &:hover {
        @include wcs-elevation(2);
    }

}

.wcs-inner-button-small {
    --wcs-button-padding: 2px 16px;
}

.wcs-inner-button-block {
    // FIXME: this is broke because display:inline-block is set on host
    display: block;
    width: 100%;
}

.wcs-inner-button-icon-only {
    --wcs-button-padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3.125rem;
    min-height: 2.8125rem;
}

.wcs-inner-button-rounded {
    --wcs-button-padding: 0;
    --wcs-border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
}

a {
    text-decoration: none;
}

// Remove mozilla dotted outline on button and a
button::-moz-focus-inner,
a::-moz-focus-inner {
    border: 0;
}
