@import "../../style/wcs.ripple.scss";

:host {
    display: block;
    position: relative;
    outline: none;
    user-select: none;
}

.wcs-select-text {
    padding: 0.65625rem 1.25rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--wcs-text-medium);
    transition: color 125ms ease-in;
    // Hide overflowing display text
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wcs-select-content {
    @include ripple;
    display: flex;
    align-items: center;
    padding-right: var(--wcs-text-padding);
    background-color: var(--wcs-light);
    border-radius: var(--wcs-border-radius);
    border: transparent solid 1px;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.wcs-select-options {
    display: none;
    position: absolute;
    z-index: 1;
    margin: 0;

    max-height: 22.5rem;
    overflow-y: auto;

    background-color: var(--wcs-white);
    color: var(--wcs-text-medium);
    border-left: var(--wcs-text-light) solid 1px;
    border-right: var(--wcs-text-light) solid 1px;
    border-bottom: var(--wcs-text-light) solid 1px;

    border-bottom-right-radius: var(--wcs-border-radius);
    border-bottom-left-radius: var(--wcs-border-radius);
    // transform: scaleY(0) translateY(-100%);
    // transition: transform 175ms cubic-bezier(0, 1, 0.5, 1);
}

:host(.expanded) {
    .wcs-select-options {
        display: block;
        // transform: scaleY(1) translateY(0%);
    }

    .wcs-select-content {
        border: var(--wcs-text-light) solid 1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

:host(:not(.expanded):focus) {
    .wcs-select-content {
        border: var(--wcs-primary) solid 1px;
    }
}

:host([value]) {
    .wcs-select-text {
        color: var(--wcs-black);
    }
}

// Fix for multiple select
:host([value="[]"]) {
    .wcs-select-text {
        color: var(--wcs-text-medium);
    }
}

:host([disabled]) {

    .wcs-select-content,
    .wcs-select-text {
        cursor: default;
        pointer-events: none;
    }

    .wcs-select-text {
        color: var(--wcs-text-disabled);
    }

    .arrow {
        fill: var(--wcs-text-medium);
    }
}
