<wcs-app>
  <wcs-header>
    <img src="./assets/sncf-logo.png" alt="Logo SNCF" slot="logo">
    <h1 slot="title">Web Component SNCF</h1>
  </wcs-header>
  <wcs-sidebar>
    <a slot="link" href="#tab">Tab</a>
    <a slot="link" href="#select">Select</a>
    <a slot="link" href="#checkbox">Checkbox</a>
    <a slot="link" href="#card">Card</a>
    <a slot="link" href="#button">Button</a>
    <a slot="link" href="#badge">Badge</a>
    <a slot="link" href="#icon">Icon</a>
    <a slot="link" href="#progress">Progress</a>
  </wcs-sidebar>
  <main slot="content">
    <h2><a id="tab"></a> Tab</h2>
    <wcs-card>
      <wcs-card-body>
        <wcs-tabs>
          <wcs-tab *ngFor="let header of headers" [header]="header">
            Du contenu
          </wcs-tab>
        </wcs-tabs>
      </wcs-card-body>
    </wcs-card>
    <h2><a id="select"></a> Select</h2>
    <wcs-card>
      <wcs-card-body>
        <h3>Basic</h3>
        <!--
                For test purposes.
                <select name="lol" id="1">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="Much">This is much</option>
                </select>
            -->
        <form>
          <wcs-select placeholder="Le select">
            <wcs-select-option value="1">One</wcs-select-option>
            <wcs-select-option value="2">Two</wcs-select-option>
            <wcs-select-option value="3">Three</wcs-select-option>
          </wcs-select>
        </form>
        <h3>With disabled option</h3>
        <form>
          <wcs-select (wcsChange)="onSelectChange($event)" placeholder="Le select">
            <wcs-select-option value="1" disabled="true">One</wcs-select-option>
            <wcs-select-option value="2">Two</wcs-select-option>
            <wcs-select-option value="3">Three</wcs-select-option>
          </wcs-select>
        </form>
        <h3>Disabled</h3>
        <form>
          <wcs-select placeholder="Le select" disabled>
            <wcs-select-option value="1">One</wcs-select-option>
            <wcs-select-option value="2">Two</wcs-select-option>
            <wcs-select-option value="3">Three</wcs-select-option>
          </wcs-select>
        </form>
      </wcs-card-body>
    </wcs-card>
    <h2><a id="checkbox"></a>Chekbox</h2>
    <wcs-card>
      <wcs-card-body>
        <h3>Normal chekbox</h3>
        <wcs-checkbox>Normal checkbox</wcs-checkbox><br />
        <wcs-checkbox checked="true">Default checked checkbox</wcs-checkbox><br />
        <wcs-checkbox>Checkbox</wcs-checkbox><br />
        <wcs-checkbox>Checkbox</wcs-checkbox><br />
      </wcs-card-body>
    </wcs-card>
    <h2><a id="card"></a>Card</h2>
    <wcs-card>
      <wcs-card-body>
        <h3>Cardception</h3>
        <wcs-card>
          <wcs-card-body>
            A card in a card.
          </wcs-card-body>
        </wcs-card>
      </wcs-card-body>
    </wcs-card>

    <h2><a id="button"></a>Buttons</h2>
    <wcs-card>
      <wcs-card-body>
        <h3>Standard</h3>
        <wcs-button color="wcs-primary">Primary</wcs-button>
        <wcs-button color="wcs-secondary">Secondary</wcs-button>
        <wcs-button color="wcs-success">Success</wcs-button>
        <wcs-button color="wcs-warning">Warning</wcs-button>
        <wcs-button color="wcs-danger">Danger</wcs-button>
        <wcs-button color="wcs-info">Info</wcs-button>
        <wcs-button color="wcs-light">Light</wcs-button>
        <wcs-button color="wcs-dark">Dark</wcs-button>
        <wcs-button color="white">White</wcs-button>
        <h3>Round</h3>
        <wcs-button color="wcs-primary" mode="round">45</wcs-button>
        <h3>Icon only</h3>
        <wcs-button color="wcs-primary" mode="icon-only">ico</wcs-button>
        <h3>Link</h3>
        <wcs-button color="wcs-primary" href="#">Un lien !</wcs-button>
        <h3>Disabled</h3>
        <wcs-button color="wcs-primary" disabled>Un bouton désactivé</wcs-button>
        <h3>Misc.</h3>
        <wcs-button href="https://www.sncf.com/" color="wcs-primary">Un bouton non désactivé</wcs-button>
        <wcs-button href="https://www.sncf.com/" color="wcs-primary" disabled>Un bouton a désactivé</wcs-button>
        <wcs-button color="wcs-primary" mode="small">Un bouton plus petit</wcs-button>
        <wcs-button color="wcs-primary" mode="block">Un grand bouton</wcs-button>
      </wcs-card-body>
    </wcs-card>

    <div>
      <h2><a id="badge"></a>Badge</h2>
      <wcs-card>
        <wcs-card-body>
          <h3>Standard</h3>
          <wcs-badge color="wcs-primary">wcs-primary</wcs-badge>
          <wcs-badge color="wcs-secondary">wcs-secondary</wcs-badge>
          <wcs-badge color="wcs-success">Success</wcs-badge>
          <wcs-badge color="wcs-danger">Danger</wcs-badge>
          <wcs-badge color="wcs-warning">Warning</wcs-badge>
          <wcs-badge color="wcs-info">Info</wcs-badge>
          <wcs-badge color="wcs-light">Light</wcs-badge>
          <wcs-badge color="wcs-dark">Dark</wcs-badge>
        </wcs-card-body>
      </wcs-card>
    </div>

    <div>
      <h2><a id="icon"></a>Icon</h2>
      <wcs-card>
        <wcs-card-body>
          <wcs-icon icon="checked" size="2x"></wcs-icon>
        </wcs-card-body>
      </wcs-card>
    </div>

    <div>
      <h2><a id="progress"></a>Progress</h2>
      <wcs-card>
        <wcs-card-body>
          <h3>Bar</h3>
          <wcs-button (click)="changeValues()">Change values</wcs-button>
          <wcs-progress-bar [value]="value"></wcs-progress-bar>
          <h3>Bar with label</h3>
          <wcs-progress-bar [value]="value" show-label="true"></wcs-progress-bar>
          <h3>Small bar</h3>
          <wcs-progress-bar [value]="value" small></wcs-progress-bar>
          <h3>Radial</h3>
          <wcs-progress-radial [value]="value"></wcs-progress-radial>
          <h3>Radial with label</h3>
          <wcs-progress-radial [value]="value" show-label></wcs-progress-radial>
        </wcs-card-body>
      </wcs-card>
    </div>
  </main>
</wcs-app>
